{% extends "layout.html" %}

{% block body %}
<div class="page-text-wrapper clearfix" data-edit-main-image="Background" data-collection-id="61d8eb17991d8f0d79998535">
  <h1 class="page-title"><span data-content-field="title"><p style="text-align: center;">Contact</p></span></h1>
  <div class="page-description" data-content-field="description" data-default-description="Page Description"><p class="" data-rte-preserve-empty="true" style="white-space:pre-wrap;"><span></span></p></div>
</div>
{% endblock body %}

